@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100&display=swap');

.hidden{
    display: none;
}

body{
    background-color: beige;
    font-family: 'Hahmlet', serif;
}

input[type=text]{
    width: 300px;
    height: 30px;
    font-size: 20px;
    border: 0; /*모서리 없애기*/
    border-radius: 10px;
    outline: none; /*원래 직사각형 테두리 없애기*/
}

button{
    width: 60px;
    height: 35px;
    font-size: 10px;
    border: 0;
    /*모서리 없애기*/
    border-radius: 10px;
    outline: none;
    background-color: white;
}

#quote{
    padding: 10px;
    margin: 10px;
}